{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br>
<br>
{% endif %}

<h1>Sign up!</h1>
<form action="{% url 'signup' %}" method="post">
{% csrf_token %}

    username:
    <br>
    <input type="text" name="username" id=""/>
    <br>
    Password: <br>
    <input type="password" name="password" id=""/>
    <br>
    Confirm Password: <br> 
    <input type="password" name="confirmation" id=""/>
<br><br>
    <input type="submit" value="Sign Up!" class="btn btn-primary">
</form>

{% endblock %}

